body{
    background-color: blueviolet;
    background-image: url(../image/backgroundImage.png);
    font-family: 'Varela Round', sans-serif;
}
header, h1{
    text-align: center;
    
}
input{
    padding:0.5em;
    width:80%;
    border-radius: 5px;
    border:black solid 1px;
    font-size: 15px;

}
.form{
    max-width: 500px;
    margin-left:auto;
    margin-right:auto;
    border:black solid 1px;
    border-radius: 5px;
    padding:1em;
    
}

label{
    display: block;
    margin-bottom: 0.25em;
}
.form-elements{
    margin-bottom: 1em;
}
input[type="submit"]
{
    background-color: chartreuse;
    font-size: 1em;
}
.hidden{
    display: none;
}
.show{
    display: block;
}

#youtubeDiv{
    text-align: center;
    font-size: 1.75em;
}
#youtubeDiv p{
    font-size:0.5em;
}
.flex{
    display: flex;
    align-items: center;
}
#youtubeForm{
    background-color: blue;
    width: 100px;
    height: 30px;
    /* align-items: center; */
    border: 1px solid blue;
    cursor: -webkit-grab;
    cursor: grab;
    font-size: 0.5em;
    padding-top: 0px;
    border-radius: 5px;
    padding-bottom: 0px;
}
iframe{
    margin-top:1em;
}
#playSong{
    background-color: brown;
    width: 100px;
    height: 30px;
    /* align-items: center; */
    border: 1px solid brown;
    cursor: -webkit-grab;
    cursor: grab;
    font-size: 0.5em;
    padding-top: 0px;
    border-radius: 5px;
    padding-bottom: 0px;
}